<script>
  import { onMount } from 'svelte';
  import { auth, db } from '../firebase.js';
  import { User } from 'sveltefire';
  import { user } from '../store.js';
  import { replace } from 'svelte-spa-router';

  let username;
  let email;
  let password;
  let showError = false;
  let formType = 'signin';

  auth.onAuthStateChanged(user => {
    user && replace('/room');
  });

  async function signIn() {
    try {
      await auth.signInWithEmailAndPassword(email, password);
    } catch (error) {
      console.error('SignIn error:', error);
    }
  }

  async function signUp() {
    try {
      const credentials = await auth.createUserWithEmailAndPassword(email, password);
      db.collection('users')
        .doc(credentials.user.uid)
        .set({
          username: username,
          online: true,
          connectionId: null,
          inCall: false
        });
    } catch (error) {
      console.error('SignUp error:', error);
    }
  }

  function getYear() {
    const today = new Date();
    return today.getFullYear();
  }
</script>

<div class="w-full max-w-md px-5 mx-auto my-auto md:mt-64 md:p-0 background">
  <User persist={sessionStorage} let:user let:auth on:user={e => user.set(e.detail.user)}>
    Ingelogd
    <div slot="signed-out">
      <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md" on:submit|preventDefault={signIn} action="">
        {#if formType === 'signup'}
          <div class="mb-4">
            <label class="block mb-2 text-gray-700" for="username">Gebruikersnaam</label>
            <input
              class="w-full px-4 py-4 leading-tight text-gray-700 bg-blue-100 border rounded appearance-none focus:outline-none focus:shadow-outline"
              name="username"
              id="username"
              type="text"
              required
              bind:value={username}
            />
          </div>
        {/if}
        <div class="mb-4">
          <label class="block mb-2 text-gray-700" for="email">E-mailadres</label>
          <input
            class="w-full px-4 py-4 leading-tight text-gray-700 bg-blue-100 border rounded appearance-none focus:outline-none focus:shadow-outline"
            id="email"
            name="email"
            type="email"
            bind:value={email}
            required
          />
        </div>
        <div class="mb-6">
          <label class="block mb-2 text-gray-700" for="password">Wachtwoord</label>
          <input
            class="w-full px-4 py-4 leading-tight text-gray-700 bg-blue-100 border rounded appearance-none focus:outline-none focus:shadow-outline"
            id="password"
            name="password"
            type="password"
            bind:value={password}
            required
          />
        </div>
        <div class="flex items-center justify-between">
          {#if formType === 'signin'}
            <button
              class="px-6 py-3 text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Inloggen
            </button>
            <a class="inline-block text-blue-500 align-baseline hover:text-blue-800" href="#0">Wachtwoord vergeten?</a>
          {:else if formType === 'signup'}
            <button
              class="px-6 py-3 text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
              type="button"
              on:click={signUp}
            >
              Creeër account
            </button>
            <button
              class="inline-block text-blue-500 align-baseline hover:text-blue-800"
              href="#"
              on:click={() => (formType = 'signin')}
            >
              Inloggen
            </button>
          {/if}
        </div>
        {#if formType === 'signin'}
          <div>
            <button
              class="inline-block mt-6 text-blue-500 align-baseline hover:text-blue-800"
              on:click={() => (formType = 'signup')}
              type="button"
            >
              Creeer een account
            </button>
          </div>
        {/if}
      </form>
      <p class="text-xs text-center text-gray-100">&copy;{getYear()} Aan Zee. All rights reserved.</p>
    </div>
  </User>
</div>
