<script>
  import { onMount } from 'svelte';
  import VideoComponent from '@aanzee/aanzee-video-chat-component';
  import { auth, db } from '../firebase.js';
  // import Video from '../components/Video.svelte';
  import { user, showDeviceSettings } from '../store.js';

  let room;
  let rooms = [];
  let onlineUsers = [];
  let connectedUser;

  // create endCall event
  const endCallEvent = new Event('endCall');

  window.addEventListener(
    'endCall',
    event => {
      endCall();
    },
    false
  );

  // update user store when auth state changes (for example after login)
  auth.onAuthStateChanged(auth => {
    $user = auth;
  });

  // Svelte onMount lifecycle hook
  onMount(async () => {
    // Get all online users
    db.collection('users').onSnapshot(function(data) {
      onlineUsers = [];
      data.forEach(function(doc) {
        const user = doc.data();
        onlineUsers = [...onlineUsers, { ...user, id: doc.id }];
      });
    });
  });

  // Dispatch the makeCallEvent to initiate a call with userId
  function makeCall(userId) {
    connectedUser = userId;
    const makeCallEvent = new CustomEvent('call', {
      detail: {
        userId
      }
    });
    window.dispatchEvent(makeCallEvent);
    updateCallerStatus(userId, { inCall: true });
  }

  // Dispatch the endCallEvent
  function dispatchEndCall() {
    window.dispatchEvent(endCallEvent);
  }

  // handle endCall on this side
  function endCall() {
    updateCallerStatus(connectedUser, { inCall: false });
    connectedUser = undefined;
  }

  // Update the inCall status of the callers
  function updateCallerStatus(userId, status) {
    const batch = db.batch();

    const localUserRef = db.collection('users').doc($user.uid);
    batch.set(localUserRef, status, { merge: true });

    if (userId) {
      const remoteUserRef = db.collection('users').doc(userId);
      batch.set(remoteUserRef, status, { merge: true });
    }

    batch.commit();
  }
</script>

<div class="flex flex-grow h-100">
  <aside class="w-full max-w-md text-center text-blue-100 bg-gray-800 md:w-1/4">
    <div>
      <div class="flex flex-col justify-center h-16 bg-gray-900">
        <h1 class="text-xl">Online gebruikers</h1>
      </div>
      <div>
        {#each onlineUsers as onlineUser}
          <div class="flex items-center justify-between p-4 hover:bg-gray-700">
            <div class="flex items-center">
              <div class="w-2 h-2 mr-3 bg-green-600 rounded-full" />
              <p>{onlineUser.username}</p>
            </div>
            {#if onlineUser.id !== $user.uid}
              {#if onlineUser.inCall}
                <button
                  class="p-2 font-bold text-white bg-red-700 border border-red-800 rounded hover:bg-red-800"
                  style="line-height: 0;"
                  on:click={() => dispatchEndCall()}
                >
                  <svg
                    class="inline-block text-white fill-current"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="icon-shape">
                        <path
                          style="fill: #fff;"
                          d="M11.1735916,16.8264084 C7.57463481,15.3079672 4.69203285,12.4253652 3.17359164,8.82640836
                          L5.29408795,6.70591205 C5.68612671,6.31387329 6,5.55641359 6,5.00922203 L6,0.990777969
                          C6,0.45097518 5.55237094,3.33066907e-16 5.00019251,3.33066907e-16 L1.65110039,3.33066907e-16
                          L1.00214643,8.96910337e-16 C0.448676237,1.13735153e-15 -1.05725384e-09,0.445916468
                          -7.33736e-10,1.00108627 C-7.33736e-10,1.00108627 -3.44283713e-14,1.97634814 -3.44283713e-14,3
                          C-3.44283713e-14,12.3888407 7.61115925,20 17,20 C18.0236519,20 18.9989137,20 18.9989137,20
                          C19.5517984,20 20,19.5565264 20,18.9978536 L20,18.3488996 L20,14.9998075 C20,14.4476291
                          19.5490248,14 19.009222,14 L14.990778,14 C14.4435864,14 13.6861267,14.3138733
                          13.2940879,14.7059121 L11.1735916,16.8264084 Z"
                          id="Combined-Shape"
                        />
                      </g>
                    </g>
                  </svg>
                </button>
              {:else}
                <button
                  class="px-3 py-2 font-bold text-white bg-green-700 border border-green-800 rounded hover:bg-green-800"
                  style="line-height: 0;"
                  on:click={() => makeCall(onlineUser.id)}
                >
                  <svg
                    class="inline-block text-white fill-current"
                    width="16"
                    height="16"
                    viewBox="0 0 20 20"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="icon-shape">
                        <path
                          style="fill: #fff;"
                          d="M11.1735916,16.8264084 C7.57463481,15.3079672 4.69203285,12.4253652 3.17359164,8.82640836
                          L5.29408795,6.70591205 C5.68612671,6.31387329 6,5.55641359 6,5.00922203 L6,0.990777969
                          C6,0.45097518 5.55237094,3.33066907e-16 5.00019251,3.33066907e-16 L1.65110039,3.33066907e-16
                          L1.00214643,8.96910337e-16 C0.448676237,1.13735153e-15 -1.05725384e-09,0.445916468
                          -7.33736e-10,1.00108627 C-7.33736e-10,1.00108627 -3.44283713e-14,1.97634814 -3.44283713e-14,3
                          C-3.44283713e-14,12.3888407 7.61115925,20 17,20 C18.0236519,20 18.9989137,20 18.9989137,20
                          C19.5517984,20 20,19.5565264 20,18.9978536 L20,18.3488996 L20,14.9998075 C20,14.4476291
                          19.5490248,14 19.009222,14 L14.990778,14 C14.4435864,14 13.6861267,14.3138733
                          13.2940879,14.7059121 L11.1735916,16.8264084 Z"
                          id="Combined-Shape"
                        />
                      </g>
                    </g>
                  </svg>
                </button>
              {/if}
            {/if}
          </div>
        {/each}
      </div>
    </div>
  </aside>
  <div class="relative flex-grow w-full p-4 text-gray-700 bg-gray-400 md:w-3/4">
    {#if $user}
      <VideoComponent userId={$user.uid} showDeviceSettings={$showDeviceSettings} />
    {/if}
  </div>
</div>
