<script>
  import { link, push, pop, replace } from 'svelte-spa-router';
  import active from 'svelte-spa-router/active';
  import { auth } from '../firebase.js';

  let isLoggedIn = false;

  auth.onAuthStateChanged(user => {
    isLoggedIn = !!user;
  });

  function signOut() {
    auth.signOut();
    replace('/');
  }
</script>

<nav class="relative z-50 flex flex-wrap items-center justify-between flex-shrink-0 p-6 bg-blue-900">
  <div class="flex items-center flex-shrink-0 mr-6 text-white">
    <svg
      class="w-8 h-8 mr-2 fill-current"
      width="54"
      height="54"
      viewBox="0 0 54 54"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3
        10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0
        12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8
        0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"
      />
    </svg>
    <span class="text-xl font-semibold tracking-tight">Aan Zee Chat</span>
  </div>
  <div class="block md:hidden">
    <button
      class="flex items-center px-3 py-2 text-blue-200 border border-blue-400 rounded hover:text-white hover:border-white"
    >
      <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="flex-grow block w-full md:flex md:items-center md:w-auto">
    <div class="text-sm md:flex-grow">
      <a href="/" class="block mt-4 mr-4 text-blue-200 md:inline-block md:mt-0 hover:text-white" use:link use:active>
        Home
      </a>
      <a href="#responsive-header" class="block mt-4 mr-4 text-blue-200 md:inline-block md:mt-0 hover:text-white">
        Instellingen
      </a>
      <a href="#responsive-header" class="block mt-4 text-blue-200 md:inline-block md:mt-0 hover:text-white">About</a>
    </div>
    <div>
      {#if isLoggedIn}
        <button
          class="inline-block px-4 py-2 mt-4 text-sm leading-none text-white border border-white rounded hover:border-transparent hover:text-blue-500 hover:bg-white md:mt-0"
          on:click={() => signOut()}
        >
          Uitloggen
        </button>
      {/if}
    </div>
  </div>
</nav>
