<script>
  import Router from 'svelte-spa-router';
  import { replace } from 'svelte-spa-router';
  import { routes } from './routes.js';
  import Nav from './components/Nav.svelte';
  import firebase from 'firebase/app';
  import { FirebaseApp } from 'sveltefire';
  import { auth, db } from './firebase.js';
  import { user } from './store.js';

  auth.onAuthStateChanged(user => {
    if (user) {
      const userRef = db.collection('users').doc(user.uid);
      userRef.set(
        {
          online: true
        },
        { merge: true }
      );
    }
  });

  //@TODO: Find a way to logout the user when leaving te page
  window.onbeforeunload = () => {
    if ($user) {
      console.log('user', $user);
      const userRef = db.collection('users').doc($user.uid);
      userRef.set(
        {
          online: false
        },
        { merge: true }
      );
    }
  };

  function conditionsFailed(event) {
    if(event.detail.name === 'Room') {
      replace('/')
    }
  }
</script>

<div class="flex flex-col h-full min-h-screen bg-default">
  <Nav />
  <main class="flex flex-grow bg-gray-800">
    <FirebaseApp {firebase}>
      <Router {routes} on:conditionsFailed={conditionsFailed} />
    </FirebaseApp>
  </main>
</div>
